<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @company.latitude %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @company.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @company.type_of %>
</p>

<p>
  <%= link_to @company.link, url_with_protocol(@company.link), :target => '_blank' %>
</p>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Approve', approve_company_path(@company), method: :approve %> |
<%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', companies_path, 'data-no-turbolink' => true %>