<!DOCTYPE html>
<html>
<head>
  <link rel="favicon" href="/favicon.png"/>
  <title>Perth Startup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div class="row header">
    <div class="three columns">
      <!-- <h1 id="bloom-logo"><img src="<%= asset_path('bloom-logo.png') %>" alt="Bloom"></h1> -->
      <%= link_to image_tag(asset_path('bloom-logo.png'), alt:'<h1>Bloom</h1>.html_safe', id: 'bloom-logo'),  root_path %>
    </div>
    <div class="six columns">
      <form action="#" id="search-form">
        <input type="text" name="search" id="search" placeholder="Find Company">
        <button type="submit" id="search-btn">search</button>
      </form>
    </div>
    <div class="three columns">
      <%= link_to "<button>Add Company</button>".html_safe, new_company_path, class: "add-new" %>
    </div>
  </div>
  <%= yield %>
<!--   <footer class="twelve columns">
    <p>&copy 2015 Bloom Labs Inc</p>
  </footer> -->
</div>
</div>
</body>
</html>
